.header {
  padding-top: 30px;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-nav {
    @media screen and (max-width: 1200px) {
      display: none;
    }

    &-list {
      display: flex;
      align-items: center;
      gap: 58px;
    }

    &-link {
      font-weight: 300;
      font-size: 14px;
    }
  }

  &-auth {
    @media screen and (max-width: 1200px) {
      display: none;
    }

    &-login {
      position: relative;
      font-weight: 500;
      font-size: 14px;

      margin-right: 33px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $darkColor;
        transition: width 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          width: 0;
        }
      }
    }

    &-reg {
      font-weight: 700;
      font-size: 14px;
      color: $lightColor;
      background-color: $darkColor;

      padding: 16px 26px;
    }
  }

  &-burger {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $lightColor;

    overflow-y: auto;

    display: flex;
    flex-direction: column;

    z-index: 100;
    padding: 30px;

    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-20%);

    @media screen and (min-width: 768px) {
      width: 50%;
    }

    @media screen and (min-width: 1200px) {
      display: none;
    }

    &-open {
      display: flex;
      flex-direction: column;
      gap: 4px;
      width: 35px;

      & span {
        width: 100%;
        height: 3px;
        border-radius: 10px;
        background-color: $darkColor;
      }

      @media screen and (min-width: 1200px) {
        display: none;
      }
    }

    &-close {
      margin-left: auto;
      margin-bottom: 80px;

      opacity: 0;
      transform: translateX(-20px);
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 20px;

      padding-bottom: 50px;
    }

    &-link {
      font-weight: 700;
      font-size: 30px;
      opacity: 0;
      transform: translateY(20px);
    }

    &-auth {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;

      margin-top: auto;

      &-btn {
        font-weight: 600;
        font-size: 20px;

        border: 2px solid $darkColor;

        padding: 10px 20px;
        min-width: 150px;

        opacity: 0;
        transform: translateX(20px);

        &--dark {
          color: $lightColor;
          background-color: $darkColor;
        }
      }
    }
  }
}
