.hero {
  padding-top: 54px;

  @media screen and (min-width: 1200px) {
    padding-top: 34px;
  }

  &-container {
    display: flex;
    flex-direction: column;
    position: relative;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      padding-top: 130px;
      padding-bottom: 130px;
    }
  }

  &-content {
    z-index: 20;

    @media screen and (min-width: 1200px) {
      max-width: 780px;
    }
  }

  &-title {
    font-family: $secondFont;
    font-weight: 700;
    font-size: 38px;
    line-height: 1.08;

    margin-bottom: 21px;

    & span {
      font-family: $mainFont;
      font-weight: 900;
      text-transform: uppercase;
    }

    @media screen and (min-width: 768px) {
      font-size: 52px;

      & span {
        font-size: 90px;
      }
    }
  }

  &-descr {
    font-weight: 300;
    font-size: 17px;
    line-height: 1.64;

    margin-bottom: 43px;

    @media screen and (min-width: 1200px) {
      max-width: 530px;
    }
  }

  &-form {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: $lightColor;
    box-shadow: 0 8px 28px 0 rgba(0, 0, 0, 0.12);
    padding: 16px 25px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      margin-bottom: 30px;
    }

    &-wrap {
      display: flex;
      flex-direction: column;
    }

    &-label {
      font-weight: 300;
      font-size: 14px;

      margin-bottom: 5px;
    }

    &-input {
      outline: none;
      font-weight: 700;
      font-size: 17px;
      line-height: 1.2;
      border: 1px solid #1c1c1c3b;

      transition: border-color 0.3s ease-in-out;

      padding: 10px;

      &:focus {
        border-color: $darkColor;
      }

      @media screen and (min-width: 768px) {
        max-width: 140px;
      }
    }

    &-btn {
      background-color: $darkColor;

      padding: 24px;
      & svg {
        stroke: $lightColor;
      }
    }
  }

  &-img {
    width: 100%;
  }

  &-img-wrap {
    position: relative;
    z-index: 2;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: $darkColor;
      border-radius: 50%;

      @media screen and (min-width: 768px) {
        width: 88px;
        height: 88px;
      }
    }

    &::before {
      top: 20%;
      right: -15px;

      @media screen and (min-width: 768px) {
        right: -44px;
      }
    }

    &::after {
      z-index: -1;
      bottom: 20%;
      left: -15px;

      @media screen and (min-width: 768px) {
        left: -44px;
      }
    }

    @media screen and (min-width: 1200px) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
