.team {
  padding-top: 100px;
  overflow-x: auto;

  &-descr {
    margin-bottom: 36px;
  }

  &-list {
    display: flex;
    // align-items: center;

    @media screen and (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  &-item {
    @media screen and (min-width: 767px) {
      //   display: flex;
    }

    &-img {
      width: 100%;
    }

    &-content {
      padding: 24px;
      background-color: $lightColor;

      //   @media screen and (min-width: 768px) {
      //     overflow-y: auto;
      //     opacity: 0;
      //     transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;

      //     &.active {
      //       opacity: 1;
      //       top: 0;
      //     }
      //   }
    }

    &-icon {
      width: 74px;
      height: 60px;

      margin-bottom: 24px;
    }

    &-descr {
      font-weight: 300;
      font-size: 16px;
      line-height: 1.6;

      margin-bottom: 24px;
    }

    &-name {
      font-weight: 900;
      font-size: 20px;
      text-transform: uppercase;

      margin-bottom: 5px;
    }

    &-location {
      font-weight: 300;
      font-size: 14px;
    }
  }

  & .swiper-slide {
    width: 100%;
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: stretch;
    }

    &-active {
      width: 80%;
      opacity: 1;
      position: relative;
      z-index: 1;
    }
  }

  & .swiper-slide-next,
  & .swiper-slide-prev {
    &.team-item-content {
      display: none;
    }
  }

  & .swiper-button-next,
  & .swiper-button-prev {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
